@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    text-align: center;
    background-color: #03327e;
  
}
#github-link {
    color: black;
    font-size: 4rem;
    position: absolute;
    right: 20px;
    top: 5px;

}

:root {
    --primary-color: #ffe135;
    --black: #080700;
    --offwhite: #F3F4F6;
}

.container {
    max-width: 100%;
    width: 600px;
    text-align: center;
    margin: auto;

}

.container .text-box {
    display: block;
    height: 30px;
    max-width: 80%;
    width: 500px;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid var(--black);
    border-radius: 1.5rem;
    font-size: 1rem;
    background-color: white;
  
}

.container #btn-translate {

    background-color: var(--primary-color);
    color: var(--black);
    border: 2px solid black;
    font-size: medium;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    
    border-radius: 1rem;
    padding: 1rem;
}

.navigation {
    background-color: yellow;
    opacity: 90%;
   
    color: var(--black);
    text-align: center;
    font-size: 20px;
    padding: 2px;
    margin-bottom: 1px;
    color: black;
}

.minion {
    padding: 0.5rem;
    padding-top: 0.5rem;
}

.minion .minion-image {
    max-width: 80%;
    width: 450px;
    display: block;
    margin: auto;
    border-radius: 1.5rem;
   

}

.footer {
   
    background-color:
    yellow;
        opacity: 90%;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
  
}

.footer .footer-about {
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 1rem;
    color:black
}

.footer p {
    text-align: center;
    max-width: 600px;
    margin: auto;
    color:black
}